# .gitignore file

# MPLAB X IDE (Netbeans) specific
~*.*
build/
debug/
dist/
disassembly/
.generated_files/
nbproject/private/
nbproject/*.mk
nbproject/*.bash
nbproject/Makefile-genesis.properties

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe


# KDE specific
.directory

# Misc
.svn
*.bak